.header-menu{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    margin-top: 20px;
display: flex;
justify-content: space-around;
align-items: center;
}
.li-style{ 
    font-family: 'GT Walsheim Pro';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;  
    margin-right: 48px;
}
.nava{
display: flex;
justify-content: space-between;
margin-left: 50px;
}
.icon-image{
    height: 48px;
    width: 50px;
}
.right-style{
    display: flex;
    justify-content: space-between;
}
  button{
width:151px;
height: 48px;
padding: 12px 28px 12px 28px;
border-radius: 8px;
background-color: black;
color: white;
 }
.main-div{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.first-div{
    margin-left: 20px;
    position: absolute;
    width: 636px;
    height: 304px;
}
.paragraph{
    font-family: 'Value';
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 50px;
}
.second-div{
margin-left: 550px;
width: 491px;
height: 587px;   
}
.third-div{
    margin-left: 10px;
    width: 384px;
    height: 587px;   
}
.relative{
    margin-bottom: 120px;
    width: 1440px;
display: flex;
margin-left: auto;
margin-right: auto;
background-color: blanchedalmond;
}
.quiz-button{
    width:246px;
    height: 48px;
    padding: 12px 40px 12px 40px;
    color: yellow;
}
.information{
height: 150px;
width: 1440px;
position: absolute;
margin-top: 585px;
padding-top: 40px;
display: flex;
background-color: blanchedalmond;
display: flex;
justify-content: space-around;
}
.min-box{
    display: flex;
    justify-content: space-around;
    width: 382px;
    height: 78px;
}
.paragraph-box{
width: 340px;
}
.quiz-font{
    font-family: 'Value-regular';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    
}
.quiz-font-p{
font-family: 'GT Walsheim regular';
font-size: 16px;
font-weight: 400;
line-height: 18.32px;
letter-spacing: 0.01em;
text-align: left;
margin-top: 10px;

}
.discover-div{
    margin-left: auto;
    margin-right: auto;
   /* margin-top: 200px; */
    width: 1440px;
        background-color:rgba(246, 246, 210, 0.24); 
    }
    .discover-p{
        padding-top: 40px;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        letter-spacing: 4px;
        text-align: center;
        
    }
    .discover-h{
padding-bottom: 70px;
font-family: 'Value-regular';
font-size: 48px;
font-weight: 400;
line-height: 57.6px;
text-align: center;

    }
.middle-div{
    margin-top: 30px;
    width: 1320px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.profill{
    position: relative;
    width:380px;
height:496px;
display: flex;
justify-content: center;
margin-right: 30px;
}
.img-size{
position: absolute;
width:380px;
height:496px;
border-radius: 30px; 
}
.perfect{
    width: 304px;
    position: absolute;
    font-family: "Value";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    z-index: 100;
    color: white;
    margin-top: 30px;
    }

.quiz-but{
position: absolute;
width: 226px;
height:40px;
padding: 8px 38px 8px 38px;
background-color:rgba(234, 245, 134, 1) ;
color: black;
top: 440px;
}
.img-size1{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 240px;
height: 232px;
}
.profill1{
    margin-right: 30px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    width:380px;
height:496px;
display: flex;
justify-content: center;
align-items: center;
}
.perfect1{
font-family: 'GT Walsheim regular';
font-size: 14px;
font-weight: 400;
line-height: 16px;
text-align: left;
    color: black;
    border-radius: 50px;
}
.vitamin{
    font-family: "Value";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    
}
.skin{
    position: absolute;
    top: 5%;
    width: 272px;
}
.treat{
    margin-top: 100px;
    width: 1440px;
}
.yourself{
font-family: 'Value-regular';
font-size: 48px;
font-weight: 400;
line-height: 57.6px;
text-align: center;
}

.white-div{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1143px;
    display: flex;
    justify-content: space-between;
}
.first-white{
    width: 365px;
    height: 170px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.slim{
    display: inline;
    font-family: 'GT Walsheim regular';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.bold{

    font-family: "GT Walsheim Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.flex1{
    width:253px;
    height: 72px;
 
}
.eco{
    width: 37px;
    height: 37px;
}

.middle-div1{
position: relative;
background-color: blanchedalmond;;
}
  .img-size2{
    position: absolute;
    width: 100%;
    height:750px ;
  }
  .perfect2{
    width: 638px;
height: 132px;
padding-top: 80px;
padding-left: 60px;
    position: absolute;
    z-index: 100;
    color: azure;
    font-family: 'Value-regular';
font-size: 48px;
font-weight: 400;
line-height: 57.6px;
text-align: left;
  }
  .join{
    margin-top: 250px;
    margin-left: 60px;
position: absolute;
width: 226px;
height:40px;
background-color: yellow;
color: black;
border-radius: 15px;
  }
  .health{
    width: 258px;
    height: 41px;
    margin-right: 20px;
    vertical-align: middle;
  }
  .seys{
font-family: 'GT Walsheim regular';
font-size: 32px;
font-weight: 400;
line-height: 35px;
vertical-align: middle;
  }
.healthline{
    display: flex;
    justify-content: center;
    margin-top:1000px ;
}
.dot-send{
    display: flex;
    flex-direction: column;

}
.dot{
    width: 39px;
height: 29px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 30px;
}
.send{
    width: 874px;
font-family: 'GT Walsheim regular';
font-size: 28px;
font-weight: 500;
line-height: 32.06px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
}
.Wellness{
    margin-left: auto;
    margin-right: auto;
    width: 1440px;  
    display: flex;
    justify-content: space-around;   
    background-color: rgba(246, 246, 210, 0.24);
    padding: 100px;
}
.img-size3{
    position: absolute;
width:380px;
height:496px;
border-radius: 30px; 
}
.white-div3{
    position: relative;
    width:424px;
    height:496px;
    border-radius: 16px; 
   
}
.supplements{
    color: white;
font-family: 'Value-regular';
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 1px;
text-align: left;

}
.minute{
    color: white;
    font-family: 'Inter';
font-size: 16px;
font-weight: 300;
line-height: 24px;
text-align: left;
}
.clock{
color: rgb(255, 255, 255);
width: 18px;
height: 18px;
margin-right: 10px;
}
.minimalist{
position: absolute;
width: 348px;
height: 92px;
padding: 400px 38px;
}
.clock-div{
display: flex;
align-items: center;
}
.minimalist1{
    position: absolute;
    width: 348px;
    height: 92px;
    padding: 380px 38px;
    }
    .footer-div{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
        display: flex;
        justify-items: flex-start;
    }
    .footer-img{
        position: absolute;
        width: 720px;
        height: 800px;
    }
    .footer-rel{
    width: 720px;
    display: flex;
    flex-direction: column;
    }
    .footer-folow{ 
        position: absolute;
        font-family: 'Inter';
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
letter-spacing: 4px;
text-align: center;

    }
    .footer-meet{
        margin-top: 15px;
        position: absolute;
        font-family: "Value";
font-size: 48px;
font-weight: 400;
line-height: 57.6px;
text-align: center;

    }
    .footer-join{
        position: absolute;
        font-family: 'GT Walsheim regular';
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.01em;
text-align: center;
margin-top: 85px;
    }
    .footer-column{
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        position: relative;
        display: flex;
        justify-content: center;
        width: 500px;
    }
    .soc-div{
        margin-top: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      width: 191px;
    
    }
    .minsoc-div{
        margin-bottom: 50px;
        width: 191px;
        height:60px ;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .meta-div{
        display: flex;
        flex-direction: column;
       width: 129px; 
    }
    .meta-img{
        width: 32px;
        height: 32px;
    }
    .meta-title{
font-family: "GT Walsheim Pro";
font-size: 28px;
font-weight: 500;
line-height: 32.06px;
text-align: left;

    }
 
    .address{
font-family: 'GT Walsheim regular';
font-size: 16px;
font-weight: 400;
line-height: 23.4px;
text-align: left;

    }
.brend{
position: absolute;
width: 275px;
display: flex;
margin-top: 600px;
}